.site-header{
    border: 1px solid #d0d0c8;
    width: 100%;
}

.site-header-logo{
    display: inline-block;
    height: 50px;
    order: initial;
    background-position: center;
    background-size: 140px 30px;
    margin: 0 16px 0 15px;
    width: 140px;
}

.site-header-contents{
    box-sizing: border-box;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
}
.navbar-container{
    border: 1px solid #d0d0c8;
}
.navbar-link-item{
 list-style-type: none;

}